@import './header';
@import './moments';
@import './gallery';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    scroll-behavior: smooth;
    overscroll-behavior: smooth;
    background: #000;
}
h1,h2,h3{
    font-family: 'Great Vibes', cursive;
}

p,a{
    font-family: 'Baloo Bhaijaan 2', cursive;
}


img{
    max-width: 100%;
}
.underline{
    position: relative;
    margin-bottom: 3em;
    margin-top: 1.5em;
    div{
        background: #FABB51;
        height: 2px;
        width: 170px;
        margin: auto;
        &:nth-child(2){
            width: 70px;
            margin-top: 10px;
        }
    }
}
.about-me{
    background: #000;
    color: #fff;
    padding: 2em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1em;
    place-items: center;
    .hero-image{
        position: relative;
        img{
            width: 700px;
            height: 550px;
            object-fit: cover;
        }
        &::after{
            content: '';
            background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5),#333);
            position: absolute;
            inset: 0;
        }
    }
    .info{
        position: relative;
        right: 50px;
    }
    h1{
        margin-bottom: .51em;
        font-size: 5vw;
        color: #FABB51;

    }
    #name{
        color: #FABB51;
    }
}
footer{
    background: #333;
    text-align: center;
    padding: 1em;
    p{
        word-spacing: 3px;
        color: #fff;
        a{
            text-decoration: none;
            color: #FABB51;
        }
    }
}

@media(max-width:650px){
    .about-me{
        display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2em;
    .hero-image{
        img{
            width: 100%;
            height: 300px;
        }
    }
    .info{
        right: 0;
        h1{
            font-size: 2em;
        }
        p{
            font-size: 80%;
            
        }
        #name{
            color: #FABB51;
        }
    }
    }

}